* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: libre baskerville, Georgia, serif;
  color: #494c4e;
}

body {
  border-top: 5px solid #f78a17;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-weight: 800;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

header {
  height: 15vh;
  width: 100%;
}

nav {
  width: 30vw;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.wide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70vw;
}

.wide-container img {
  width: 100%;
  background-color: #fff;
  border-radius: 2em;
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.75);
}

.navanchor {
  text-decoration: none;
  color: #494c4e;
}

.navanchor:hover {
  -webkit-transition: border-bottom 0.05s;
  transition: border-bottom 0.05s;
  border-bottom: 3px solid #f77f00;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inner-container {
  width: 40vw;
}

.space-bottom {
  margin-bottom: 3vh;
}

.border {
  border-top: 1px solid #f0eeee;
  border-bottom: 1px solid #f0eeee;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
  max-width: 90vw;
}

.contactme {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: 1.1em;
  background-color: #f78a17;
  padding: 12px 28px;
  border-radius: 1.5em;
  width: 45%;
  height: 6vh;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 24px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px -11px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactme:hover {
  background-color: #f77f00;
}

@media screen and (max-width: 768px) {
  #headimg {
    width: 100%;
  }
  .inner-container {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wide-container {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .logoleft {
    display: none;
  }
  nav {
    width: 50%;
  }
  #header {
    font-size: 2em;
  }
}

@media screen and (max-width: 900px) {
  #headimg {
    width: 80%;
  }
  .inner-container {
    width: 70vw;
  }
  nav {
    width: 45%;
  }
  #header {
    font-size: 2.5em;
  }
}

@media sceen and (max-width: 600px) {
  #headimg {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #headimg {
    width: 60%;
  }
  .inner-container {
    width: 50vw;
  }
  .wide-container {
    width: 100vw;
  }
}
/*# sourceMappingURL=styles.css.map */
