$queenblue: #457B9D;
$spacecadet: #1D3557;
$lightblue: #A8DADC;
$red: #E63946;
$textgray: #494c4e;
$text1: #F1FAEE;
$text2: #E63946;
/*General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #494c4e;
    font-family: 'Martel Sans', sans-serif;
}

body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-weight: 800;
}

/*nav bar css */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: $spacecadet;
    text-align: center;
}

.navlist {
    list-style-type: none;
}

.navlist li {
    display: inline;
}

.nav-link {
    color: $text1;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    transition: 0.05s;
}

.nav-link:hover {
    color: $text2;
    border-bottom: 2px solid $text2;
}

.logo {
    color: $text1;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    display: block;
    padding: 10px 20px;
    font-size: 32px;
    transition: 0.2s;
}

.logo:hover {
    color: $text2;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.books {
    background-color: $red;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.inner-container {
    padding-top: 3vh;
    margin-left: 20%;
    margin-right: 20%;
}

.flex {
    display: flex;
}

.flow-right {
    flex-direction: row;
}

.flex-even {
    justify-content: space-between;
}

.flow-nowrap {
    flex-wrap: nowrap;
    overflow: hidden;
}

.card {
    color: $text1;
    padding: 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 2px solid black;
    background-color: $spacecadet;
}

.placeholder-img {
    width: 200px;
    height: 200px;
    background-color: darkgrey;

}

.img-1 {
    background-image: url("../img/bookshelves.jpg");
}

.img-2 {
    background-image: url("../img/assortedbooks.jpg");
}

.short-height {
    min-height: 40vh;
}

.med-height {
    min-height: 70vh;
}

.sm-img {
    max-width: 35vw;
}

.story {
    color: $text1;
    background: $spacecadet;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

.parrallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-low {
    opacity: 0.6;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-book {
    border: none;
    background-color: $textgray;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

h1 {
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.col {
    min-height: 40vh;
    max-width: 25vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.parrallelogram {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#lander {
    border: 4px solid white;
    font-size: 35px;
    color: $text1;
    padding: 30px 30px;
}

@media screen and (max-width:600px) {
    .hide-small {
        display: none !important;
    }
}


@media screen and (min-width:993px) {
    .hide-large {
        display: none !important;
    }
}

@media screen and (max-width:992px) {
    .hide-medium {
        display: none !important;
    }
}


@media screen and (max-width: 768px) {
    #lander {
        display: none;
    }

    .row {
        flex-direction: column;
    }

}