/*General CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #494c4e;
  font-family: 'Martel Sans', sans-serif;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-weight: 800;
}

/*nav bar css */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 6vh;
  background-color: #1D3557;
  text-align: center;
}

.navlist {
  list-style-type: none;
}

.navlist li {
  display: inline;
}

.nav-link {
  color: #F1FAEE;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.nav-link:hover {
  color: #E63946;
  border-bottom: 2px solid #E63946;
}

.logo {
  color: #F1FAEE;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  display: block;
  padding: 10px 20px;
  font-size: 32px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.logo:hover {
  color: #E63946;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.books {
  background-color: #E63946;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
}

.inner-container {
  padding-top: 3vh;
  margin-left: 20%;
  margin-right: 20%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flow-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-even {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.card {
  color: #F1FAEE;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid black;
  background-color: #1D3557;
}

.placeholder-img {
  width: 200px;
  height: 200px;
  background-color: darkgrey;
}

.img-1 {
  background-image: url("../img/bookshelves.jpg");
}

.img-2 {
  background-image: url("../img/assortedbooks.jpg");
}

.short-height {
  min-height: 40vh;
}

.med-height {
  min-height: 70vh;
}

.sm-img {
  max-width: 35vw;
}

.story {
  color: #F1FAEE;
  background: #1D3557;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

.parrallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity-low {
  opacity: 0.6;
}

.center-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-book {
  border: none;
  background-color: #494c4e;
  color: white;
  padding: 14px 25px;
  text-align: center;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.col {
  min-height: 40vh;
  max-width: 25vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.parrallelogram {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#lander {
  border: 4px solid white;
  font-size: 35px;
  color: #F1FAEE;
  padding: 30px 30px;
}

@media screen and (max-width: 600px) {
  .hide-small {
    display: none !important;
  }
}

@media screen and (min-width: 993px) {
  .hide-large {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .hide-medium {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  #lander {
    display: none;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */