$queenblue: #457B9D;
$spacecadet: #1D3557;
$lightblue: #A8DADC;
$red: #E63946;
$textgray: #494c4e;
$text1: #F1FAEE;
$text2: #E63946;
/*General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #494c4e;
    font-family: 'Martel Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-weight: 800;
}

/*nav bar css */
nav {
    position: sticky;
    align-self: flex-start;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: $spacecadet;
    text-align: center;
    z-index: 2;
}

.shadow {
    -webkit-box-shadow: 0px 9px 13px -5px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0px 9px 13px -5px rgba(0, 0, 0, 0.71);
    box-shadow: 0px 9px 13px -5px rgba(0, 0, 0, 0.71);
}

.navlist {
    list-style-type: none;
}

.navlist li {
    display: inline;
}

.nav-link {
    color: $text1;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    transition: 0.05s;
}

.nav-link:hover {
    color: $text2;
    border-bottom: 2px solid $text2;
}

.logo {
    color: $text1;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    display: block;
    padding: 10px 20px;
    font-size: 32px;
    transition: 0.2s;
}

.logo:hover {
    color: $text2;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.books {
    background-color: $red;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.inner-container {
    padding-top: 3vh;
    margin-left: 20%;
    margin-right: 20%;
}

.flex {
    display: flex;
}

.flow-right {
    flex-direction: row;
}

.flex-even {
    justify-content: space-between;
}

.flow-nowrap {
    flex-wrap: nowrap;
    overflow: hidden;
}

footer {
    width: 100vw;
    height: 5vh;
    background-color: $queenblue;
}

.sm-link {
    color: white;
    text-decoration: none;
}

.sm-link:hover {
    color: $red;
}

#footer {
    color: $text1;
    font-size: 12px;
}

.card {
    color: $text1;
    padding: 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: $spacecadet;

    -webkit-box-shadow: 7px 10px 35px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 35px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 35px -12px rgba(0, 0, 0, 0.75);
}

.search {
    color: $text1;
    width: 30vw;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 2px solid $text1;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search::placeholder {
    color: color($text1 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid $red;
    border-radius: 0;
    background-position: 100% center;
}

.search:hover {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid $red;
    border-radius: 0;
    background-position: 100% center;
}



.searchbutton {
    padding: 10px 15px;
    border: none;
}

.searchbutton:hover {
    background-color: $red;
}

.placeholder-img {
    width: 200px;
    height: 200px;
    background-color: darkgrey;

}

.img-1 {
    background-image: url("../img/assortedbooks.jpg");
}

.img-2 {
    background-image: url("../img/bookshelves.jpg");
}

.short-height {
    min-height: 40vh;
}

.med-height {
    min-height: 70vh;
}

.sm-img {
    max-width: 35vw;
}

.story {
    color: $text1;
    background: $spacecadet;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

.parrallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-low {
    opacity: 0.6;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-book {
    border: none;
    background-color: $textgray;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

h1 {
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.col {
    min-height: 40vh;
    max-width: 25vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.parrallelogram {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#lander {
    font-family: 'Pacifico', cursive;
    border: 4px solid white;
    font-size: 35px;
    color: $text1;
    padding: 30px 30px;
}

@media screen and (max-width:600px) {
    .hide-small {
        display: none !important;
    }
}


@media screen and (min-width:993px) {
    .hide-large {
        display: none !important;
    }
}

@media screen and (max-width:992px) {
    .hide-medium {
        display: none !important;
    }
}


@media screen and (max-width: 768px) {
    #lander {
        display: none;
    }

    .row {
        flex-direction: column;
    }

}