$blue: #007bff;
$navbar-light-color:rgba(1, 1, 1, 1);
$navbar-light-hover-color: rgba($blue, .7);
@import "../node_modules/bootstrap/scss/bootstrap";
$bg: #F7F7F9;


$major_theme: $blue;
$minor_theme: $yellow;
$accent: $red;

body {
    background-color: $bg;
    height: 100%;
}

.cs-nav {
    background-color: $bg;
    z-index: 1000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.baskerville {
    font-family: 'New Baskerville', Baskerville, serif;
}

.divider {
    min-height: 1px;
    background-color: $black;
}

.margin-top {
    margin-top: 2vh;
}

.margin-top-lg {
    margin-top: 6vh;
}

.margin-bottom {
    margin-bottom: 3vh;
}

#total {
    color: #fff;
    background-color: $blue;
}

.img-card {
    max-height: 380px;
}

/*Navbar stuff*/
.top-line {
    min-height: 1vh;
    background-color: $blue;
}

.nav-link-l {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link-l:hover,
.nav-link-l:focus {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    font-family: "Pacifico", cursive;
    display: block;
    transition: 100ms;
    cursor: pointer;
    color: #000;
}

.logo:hover {
    color: $blue;
}

.nav-link {
    color: #000;
    transition: 115ms;
}

.nav-link:hover {
    color: #000;
    border-radius: 5px;
}

/*End Navbar stuff*/
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.vertical {
    flex-direction: column;
}


/*Height pickers*/
.med-height {
    min-height: 40vh;
}

.lg-height {
    min-height: 60vh;
}

.lander-height {
    min-height: 95vh;
}

.vh-25 {
    max-height: 25vh;
}

/*parrallax css*/
.img-1 {
    background-image: url("../img/bookshelves2.jpg");
}

.img-2 {
    background-image: url("../img/assortedbooks2.jpg");
}

.img-3 {
    background-image: url("../img/reading.jpg")
}

.img-4 {
    background-image: url("../img/bookstore2.jpg")
}

.parrallax {
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.fixed-back {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lander {
    font-family: 'New Baskerville', Baskerville, serif;
    background: rgba(1, 1, 1, 0.9);
    border: 5px solid #fff;
    font-size: 40px;
    padding: 20px 40px;
    color: #fff;
}

/*end of parrallax*/

/*image styling*/
.vsm-img {
    max-width: 20vw;
}

.sm-img {
    max-width: 35vw;
}

.med-img {
    max-width: 45vw;
}

.circle {
    clip-path: circle(50% at 50% 50%);
}

.parrallelogram {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/*end image styling*/


@media screen and (min-width: 993px) {
    .buffer-top {
        margin-top: 5vh;
    }
}