$blue: #e63946;


@import "../node_modules/bootstrap/scss/bootstrap";
$queenblue: #457b9d;
$spacecadet: #1d3557;
$lightblue: #a8dadc;
$red: #e63946;
$textgray: #494c4e;
$text1: #f1faee;
$text2: #e63946;
$bg: #F7F7F9;


body {
    background-color: $bg;
    height: 100%;
}

h2 {
    font-family: 'New Baskerville', Baskerville, serif;
    font-weight: 500;
}

.divider {
    min-height: 0.5vh;
    background-color: $spacecadet;
    margin-top: 2vh;
}

.margin-top {
    margin-top: 2vh;
}

.margin-top-lg {
    margin-top: 6vh;
}

.margin-bottom {
    margin-bottom: 3vh;
}

.table .thead-dark {
    background-color: $queenblue;
}

#total {
    color: #fff;
    background-color: $textgray;
}

.img-card {
    max-height: 380px;
}

/*Navbar stuff*/
.top-line {
    min-height: 1vh;
    background-color: $red;
}

.nav-link-l {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link-l:hover,
.nav-link-l:focus {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    font-family: "Pacifico", cursive;
    display: block;
    padding: 10px 20px;
    font-size: 32px;
    transition: 100ms;
    cursor: pointer;
    color: $spacecadet;
}

.logo:hover {
    color: $text2;
}

.nav-link {
    color: #000;
    transition: 115ms;
}

.nav-link:hover {
    background-color: $red;
    color: #fff;
    border-radius: 5px;
}

/*End Navbar stuff*/
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.vertical {
    flex-direction: column;
}


/*Height pickers*/
.med-height {
    min-height: 40vh;
}

.lg-height {
    min-height: 60vh;
}

.vh-25 {
    max-height: 25vh;
}

/*parrallax css*/
.img-1 {
    background-image: url("../img/bookshelves.jpg");
}

.img-2 {
    background-image: url("../img/assortedbooks2.jpg");
}

.img-3 {
    background-image: url("../img/reading.jpg")
}

.parrallax {
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lander {
    font-family: 'New Baskerville', Baskerville, serif;
    background: rgba(1, 1, 1, 0.9);
    border: 5px solid $text1;
    font-size: 40px;
    color: $text1;
    padding: 40px 40px;
}

/*end of parrallax*/

/*image styling*/
.vsm-img {
    max-width: 20vw;
}

.sm-img {
    max-width: 35vw;
}

.med-img {
    max-width: 45vw;
}

.circle {
    clip-path: circle(50% at 50% 50%);
}

.parrallelogram {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/*end image styling*/

/*Signin/register forms*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*End Signin/register forms*/

@media screen and (min-width: 993px) {
    .buffer-top {
        margin-top: 5vh;
    }
}